<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Reddit!</title>
</head>
<body>

<div style='text-align: center; margin: auto; width: 80%; border: 1px solid black;padding: 10px;'>
    <h1 class="bg-dark text-white"><u><b>Comment on post</b></u>
    </h1>
    <h3><strong th:text="${username}"> </strong> posted a comment on this <span th:text="${postName}"></span> post.</h3>
</div>
</body>
</html>
